<!DOCTYPE html>
<html>
    <head>
        <title> {{title}}</title>
        <link rel="stylesheet" href="/css/styles.css"> 
        <link rel="icon" href="/images/weather.png">
    </head>

    <body>
        <div class="main-content">
        {{>header}}
        <p> This site was created by Irene that uses mapbox.com and darksky.net</p>
        <img class="portrait" src='/images/robot.png'>
        </div>
        {{>footer}}

    </body>
</html>